.theme-switch {
  background: none;
  position: fixed;
  top: 0;
  right: 5px;
  outline: none;
  z-index: 1000;
  height: 40px;
  width: 40px;
}

.theme-icon{
  opacity: 0.8;
  height: 28px;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}