.spinner-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 50px);
}

@keyframes spinner-rotation {
  0% {
    transform: rotate(30deg);
  }
  20% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

@keyframes spinner-color {
  0% {
    background-color: #ffffff;
  }
  20% {
    background-color: #fa5252;
  }
  100% {
    background-color: #ffffff;
  }
}

.spinner {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  transform: rotate(30deg);
  animation: spinner-rotation 1s infinite ease-out,
    spinner-color 1s infinite ease-out;
}
