*{
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d4d4d4;
  
}

::-webkit-scrollbar-thumb {
  background: #5c5c5c;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b4b4b;
}

::-webkit-scrollbar-thumb:active {
  background: #303030;
}